@font-face {
    font-family: "Champagne";
    src: url(fonts/Champagne\ &\ Limousines\ copy.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-family: "Champagne";
    background-color: black;
    color: white;
}
#board {
    width: 300px;
    height: 300px;
    border: 1px solid white;
    background-color: black;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.square {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0 0 10px 5px rgb(103, 103, 233),
        inset 0 0 10px 5px rgb(103, 103, 233);
}
.cross {
    height: 90px;
    width: 90px;
    position: relative;
    transform: rotate(45deg);
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px 5px rgb(253, 55, 55);
}
.cross::before {
    left: 50%;
    width: 2%;
    margin-left: -5%;
    height: 100%;
}
.cross::after {
    top: 50%;
    height: 2%;
    margin-top: -5%;
    width: 100%;
}
/* info area */
.info_area,
.choose_player,
.button_area {
    height: 50px;
    width: 300px;
    border: 2px solid white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 10px;
}
.info {
    letter-spacing: 2px;
    text-transform: capitalize;

    text-shadow: 1px 1px 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
}
button {
    border: none;
    background-color: transparent;
}
a {
    text-decoration: none;
    color: white;
    font-family: "Champagne";
}
p {
    font-size: 30px;
}
