@font-face {
    font-family: "Champagne";
    src: url(fonts/Champagne\ &\ Limousines\ copy.ttf);
}
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-family: "Champagne";
    background-color: black;
    color: white;
}

.logo {
    display: flex;
}
.header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.logo_letters {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}
#board {
    width: 300px;
    height: 300px;
    background-color: black;

    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 60px;
}
.square {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    height: 70%;
    width: 70%;
    border-radius: 50%;
    border: 1px solid white;
    box-sizing: border-box;
    box-shadow: 0 0 10px 5px rgb(103, 103, 233),
        inset 0 0 10px 5px rgb(103, 103, 233);
}
.circle:hover {
    box-shadow: 0 0 10px 5px rgb(103, 103, 233), 0 0 10px 5px rgb(103, 103, 233),
        inset 0 0 10px 5px rgb(103, 103, 233),
        inset 0 0 10px 5px rgb(103, 103, 233);
}
.cross {
    height: 90%;
    width: 90%;
    position: relative;
    transform: rotate(45deg);
}

.cross::before,
.cross::after {
    content: "";
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px 5px rgb(253, 55, 55);
}
.cross::before {
    left: 50%;
    width: 2%;
    margin-left: -5%;
    height: 100%;
}
.cross::after {
    top: 50%;
    height: 2%;
    margin-top: -5%;
    width: 100%;
}
/* info area */
.info_area,
.choose_player,
.button_area,
.reset_button_area {
    height: 50px;
    width: 300px;
    border: 1px solid white;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 10px;
}
.info {
    letter-spacing: 2px;
    text-transform: uppercase;

    text-shadow: 1px 1px 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red;
}
button {
    width: 100px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: white;
    font-family: "Champagne";
}
p {
    font-size: 25px;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}
.square:last-child,
.square:nth-child(8),
.square:nth-child(7) {
    border-bottom: none;
}

.square:nth-child(3n + 1) {
    border-left: none;
}
.square:nth-child(3n + 3) {
    border-right: none;
}
.hidden {
    visibility: hidden;
}
